.fileinputs {
	position: relative;
}

input.fakefile { 
	FONT-WEIGHT: NORMAL; 
	FONT-FAMILY: Arial, Tahoma, Verdana 
	FONT-SIZE: 8pt; 
	MARGIN: 1px 0px 1px 1px;
/* 
	BORDER-RIGHT: gray 1px solid; 
	BORDER-TOP: gray 1px solid; 
	BORDER-LEFT: gray 1px solid; 
	BORDER-BOTTOM: gray 1px solid; 
*/
	position: absolute;
	top: 0px;
	left: 0px;
}   

input.file {
	position: relative;
	text-align: right;
	-moz-opacity:0 ;
	filter:alpha(opacity: 0);
	opacity: 0;
	z-index: 2;
}


.TablaContenedorEncabezadoAct 
{
  
}

.TablaEncabezadoAct{
	border: 0px;
	background-color :#3399CC;
}

.TablaDatosCarta{
	border: 0px;
	background-color: #F2F5F7;
	/*border-width: 0px 0px 1px 0px;*/
}

.TituloAct {
	margin-top:9px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 13px;
	valign: middle;
	color: #D3EBF8;	
}

.SubTituloAct {
	margin-top:15px;
	margin-left:35px;
	font-family: Helvetica, sans-serif;
	font-size: 16px;
	font-weight: bold;
	color:#ffffff;
}

.FondoDatosEncabezadoAct
{
	background-color: #F2F5F7;
}

Table.TablaDatosEncabezadoAct td
{
	border: solid #E1E1E1;
	border-width: 0px 0px 1px 0px;
}


.LeyendaEncabezadoAct
{
	font-family: Arial,  Verdana ; 
	font-size: 11px;
	color : black;
}

.CampoEncabezadoAct  {
	font-family: Arial, Verdana , Helvetica, sans-serif;
	font-size: 11px;
	color:#3781A5;
}


.TablaAct , .TablaMsgAct {
	/*height:5px;*/
	width:700px;
	_overflow: auto;
	overflow-x: hidden;	
	/*background-color: #F2F5F7;*/
}
.TablaMsgActPrint {
	height:5px;
	margin:0px 0px 1px 1px;
}

.TablaMsgActContenido {
	background-color: #F1F5F8;
}

.TablaActContenido {
	background-color: #F1F5F8;
	padding:2px;
}


.TablaActEsquina {
	width:3px;
	height:3px;
	font-size:1px;
}

.TablaActBordeHoriz {
	height:3px;
	font-size:1px;
}

.TablaActBordeVert {
	width:3px;
	font-size:1px;
}


.TablaActEtiquetaH
{
	padding: 2px 2px 2px 4px;
	width: 90px;
	height: 21px;
	font-size:9pt;
	font-family: Tahoma, Verdana, Arial;
	
	color: #FFFFFF;
	background-color: #80BAE4;  
	
	
	border-color:#6A9EB8;
	border-width:0px 0px 1px 0px;	
	border-style:solid;
}



.TablaActRestoEtiqH
{
	font-size:9pt;
	font-family: Tahoma, Verdana, Arial;	
	
	background-color: #80BAE4;  
	
	border-color:#6A9EB8;
	border-width:0px 0px 1px 0px;	
	border-style:solid;
}


.TablaActEtiqueta
{
	padding: 2px 2px 2px 4px;
	width: 90px;
	height: 21px;
	font-size:9pt;
	font-family: Tahoma, Verdana, Arial;


	vertical-align: top;

	color: #FFFFFF;
	background-color: #80BAE4; 
	
	border-color:#6A9EB8;
	border-width:0px 0px 1px 0px;	
	border-style:solid;
	
	
}

.TablaActContenedorCampo
{
	padding:2px;
	font-size:10pt;
	background-color: white;
	
	border-color:#6A9EB8;
	border-width:0px 0px 1px 0px;	
	border-style:solid;
}

.TablaActContenedorGral 
{
	padding:2px;
	/* background-color: white; */
	
	border-color:#80BAE4;
	border-width:0px 1px 1px 1px;	
	border-style:solid;
}

.TablaActIconoChico
{
	padding:1px;
	vertical-align: top;
	font-size:1pt;
}



.BarraNavegacionAct {	
	margin-top: 5px;
	margin-bottom: 5px; 
	height:30px;
	font-size:1px;
}


.BordeNavInf {
	height:5px;
	vertical-align:top;
	background-color:white;
	padding:0px;
	font-size:1px;
}

.ImagenBarraNavegacion {
	height:1px;
	font-size:1px;
}


.TextoMotivoDevolucion
{
	padding:1px;
	font-size:8pt;
	font-family: Tahoma, Verdana, Arial;
	font-weight:bold;
	color: #2E7BBD;
}

.DescripcionMotivoDevolucion
{
	padding:1px;
	font-size:8pt;
	font-family: Tahoma, Verdana, Arial;
	color: red;
}


.TextoFirmaOK {
	padding:1px;
	font-size:8pt;
	font-family: Tahoma, Verdana, Arial;
	font-weight:bold;
	color: #2E7BBD;
}

.TextoFirmaSinValidar {
	padding:1px;
	font-size:8pt;
	font-family: Tahoma, Verdana, Arial;
	font-weight:bold;
	color: #2E7BBD;
}


.BotonAccionAct 
{
	width: 65;
	height: 16;
}


.TablaActContenedorGrupo 
{
	background-color:#C2DCEF;
	/*padding: 4px; 2px; 2px; 4px;*/
}

.TituloSeccionAct
{
	padding:1px;
	font-size:8pt;
	font-family: Tahoma, Verdana, Arial;
	font-weight:bold;
	color: #346985;
}


.BarraAccionesAct
{
	width: 700px;
	font-size:2pt;
	font-family: Tahoma, Verdana, Arial;
}

.TituloEncabezadoCom
{
	font-size:9pt;
	font-family:Tahoma,Verdana,Arial;
	color : black;
	padding-left: 10px;

}
.CeldaCuerpoLectura
{
	font-size:9pt;
	font-family:Tahoma,Verdana,Arial;
	color : black;
	padding-left: 10px;
	background-color: #FFFFFF;
}
.ValorEncabezadoCom
{
	font-size:9pt;
	font-family:Tahoma,Verdana,Arial;
	color : #346985;
	background-color: #FFFFFF;
}
.CampoCabezalCarta{
	font-size=8pt;
	font-family:Tahoma,Verdana,Arial;
	color : #346985;
	border-bottom : solid 1px #00649F;
	border-left : solid 1px #00649F;
	border-right : solid 1px #00649F;
	border-top : solid 1px #00649F;
	border-color:white;
	background-color: #F8F7FC;
}

.TablaAnexos{
	background-color: #ffffff;
}





